+++
title = "Pola PCE"
linkTitle = "Pola PCE"
+++


{{% blocks/lead color="100"%}}

<div class="mx-auto">
  <img src="https://raw.githubusercontent.com/nttcom/pola/main/docs/figures/pola.png" alt="Pola PCE logo" width="200px">
  <div class="section-title">
    Pola PCE
  </div>
  <div class="section-text">
      PCEP Library and Stateful PCE Implementation with Go 
  </div>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/nttcom/pola/releases">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
</div>

{{% /blocks/lead %}}

{{< blocks/section color="100" >}}

  {{% blocks/feature icon="fa-project-diagram" title="Microservice"%}}
  Implementation based on Microservice architecture, 
  integration with external services via gRPC API.
  {{% /blocks/feature %}}

  {{% blocks/feature icon="fa-file" title="Standard Implimentation"%}}
  RFC-compliant standard implementation, multi-vendor interoperability.
  {{% /blocks/feature %}}

  {{% blocks/feature icon="fab fa-github" title="Open Source" %}}
  Please fork the repository and create a pull-request. <br>
  We welcome and appreciate your contribution.
  {{% /blocks/feature %}}

{{< /blocks/section >}}
