name: EditorConfig Checker

on:
  push:
    branches: [ 'main' ]
  pull_request:
    branches: [ 'main' ]
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  editorconfig:
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    steps:
      - uses: actions/checkout@v6
      - uses: editorconfig-checker/action-editorconfig-checker@main
      - run: editorconfig-checker
